<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="5">
    <!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
    <Properties>
        <!-- 格式化输出：%date表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符-->
        <!-- %logger{36} 表示 Logger 名字最长36个字符 -->
        <property name="LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %level - [%thread] - [%logger{50}] %l : %msg%n"/>
        <!-- 定义日志存储的路径，不要配置相对路径 -->
        <property name="FILE_PATH" value="D:\logs"/>
        <!--项目名称-->
        <property name="FILE_NAME" value="home"/>
    </Properties>

    <appenders>
        <!-- 控制台输出日志 -->
        <console name="Console" target="SYSTEM_OUT">
            <!--输出日志的格式-->
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <!--控制台只输出level及其以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
        </console>

        <!-- 文件保存 -->
        <RollingFile name="rollingFile" fileName="${FILE_PATH}/${FILE_NAME}.log"
                     filePattern="${FILE_PATH}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log">

            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${FILE_PATH}" maxDepth="1">
                    <IfFileName glob="*.log"/>
                    <IfLastModified age="3d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </appenders>

    <loggers>
        <AsyncLogger name="com.springcloud.test.home" level="info"
                     includeLocation="true" additivity="false">
            <AppenderRef ref="rollingFile"/>
            <AppenderRef ref="Console"/>
        </AsyncLogger>

        <Root level="info" includeLocation="info">
            <AppenderRef ref="Console"/>
<!--            <AppenderRef ref="rollingFile"/>-->
        </Root>
    </loggers>

</Configuration>