<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="5">
    <properties>
        <property name="LOG_DIR">log</property>
        <property name="LOG_PATTERN">
            [%d{yyyy-MM-dd HH:mm:ss.SSS}] [traceId:%X{traceId}] [%t] [%level] %c{36}:%L --- %m%n
        </property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>

        <RollingFile name="infoRollingFile" fileName="${LOG_DIR}/info.log"
                     filePattern="${LOG_DIR}/info_%d{yyyy_MM_dd_HH}_%i.log.gz">
            <!-- 只打印info日志 -->
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <!--                <OnStartupTriggeringPolicy/>-->
                <SizeBasedTriggeringPolicy size="500MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <!-- 指定 %i最大值，也就是每小时最多生成100个文件 -->
            <DefaultRolloverStrategy max="100">
                <!-- 保留最近30的日志 -->
                <Delete basePath="${LOG_DIR}" maxDepth="2">
                    <IfFileName glob="info_*.log.gz">
                        <IfLastModified age="30d"/>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="errorRollingFile" fileName="${LOG_DIR}/error.log"
                     filePattern="${LOG_DIR}/error_%d{yyyy_MM_dd_HH}_%i.log.gz">
            <!-- 只打印error日志 -->
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>

            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <!--                <OnStartupTriggeringPolicy/>-->
                <SizeBasedTriggeringPolicy size="500MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <!-- 指定 %i最大值，也就是每小时最多生成100个文件 -->
            <DefaultRolloverStrategy max="100">
                <!-- 保留最近30的日志 -->
                <Delete basePath="${LOG_DIR}" maxDepth="2">
                    <IfFileName glob="error_*.log.gz">
                        <IfLastModified age="30d"/>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <AsyncRoot level="info" includeLocation="true">
            <AppenderRef ref="Console"/>
        </AsyncRoot>

        <AsyncLogger name="com.xlw.test.template_demo" level="info"
                     includeLocation="true" additivity="false">
            <AppenderRef ref="infoRollingFile"/>
            <AppenderRef ref="errorRollingFile"/>
            <AppenderRef ref="Console"/>
        </AsyncLogger>
    </Loggers>
</Configuration>